.footer {
    background-color: #f5f5f7;
    width: 100%;
    font-family: "SF Display";
    font-size: 12px;
    color: #86868b;
    margin-top: 15px;

    .container {
        padding: 30px 0;
    }

    a {
        font-size: 13px;
        color: #1d1d1f;
    }

}