.home-wrapper {
  width: 100%;
  font-family: "SF Display";

  .iphoneSE {
    background-color: #131313;

    h1 {
      padding-top: 30px;
      font-size: 55px;
      font-weight: 600;
    }

    h4 {
      font-weight: 400;
    }

    a {
      margin-left: 15px;
      font-size: 20px;
      font-weight: 400;
      color: #2997ff;

      i {
        font-size: 13px;
      }
    }

    img {
      width: 100%;
    }
  }

  .iphone11 {
    background-color: #fafafa;

    h1 {
      padding-top: 30px;
      font-size: 55px;
      font-weight: 600;
    }

    h4 {
      font-weight: 400;
    }

    a {
      margin-left: 15px;
      font-size: 20px;
      font-weight: 400;
      color: #2997ff;

      i {
        font-size: 13px;
      }
    }
  }

  .ads {
    .col-md-6 {
      padding: 10px;

      h1 {
        padding-top: 30px;
        padding-bottom: 10px;
      }

      img {
        padding: 30px;
      }

      .apple {
        width: 250px;
      }
    }

    .row {
      overflow: hidden;
    }

    [class*="col-"] {
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }
  }
}