.ipad {
    .buy-title {
        font-size: 40px;
        font-weight: 600;
    }

    h5 {
        margin-top: 10px;
    }

    form {
        margin-top: 15px;

        .card {

            .title {
                font-size: 17px;
                font-weight: 600;
                padding: 10px 0px;
            }

            p {
                font-size: 17px;
            }
        }
    }


    // Check box

    .box {
        width: 450px;
        margin-top: 15px;
    }

    .box .checkbox-container {
        text-align: center;
        width: 200px;
        box-sizing: border-box;
        display: inline-block;
        padding: 20px 0px;
    }

    .input-title {
        margin: 5px;
        font-size: 12px;
    }




    /* Styling Checkbox Starts */
    .checkbox-label {
        display: block;
        position: relative;
        margin: auto;
        cursor: pointer;
        font-size: 22px;
        line-height: 32px;
        height: 32px;
        width: 32px;
        clear: both;
    }

    .checkbox-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkbox-label .checkbox-custom {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 32px;
        width: 32px;
        background-color: transparent;
        border-radius: 10px;
        transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        border: 2px solid #ffffff;
    }



    /* Style for Circular Checkbox */
    .checkbox-label .checkbox-custom.circular {
        border-radius: 50%;
        background-color: #AAAEB1;
        box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
    }

    .checkbox-label input:checked~.checkbox-custom.circular {
        border-radius: 50%;
        background-color: #AAAEB1;
        border: 1.3px solid #4F91D6;
    }

    .checkbox-label .checkbox-custom.circular:hover {
        border: 2px solid #DCDCDC;
    }

    .checkbox-label .checkbox-custom.circular::after {
        border-radius: 50%;
    }

    .checkbox-label .checkbox-custom.circular::before {
        border-radius: 50%;
        border: 2px solid #FFFFFF;
    }

    .checkbox-label input:checked~.checkbox-custom.circular::before {
        border-radius: 50%;
    }

    //   Silver

    .checkbox-label .checkbox-custom.silver {
        border-radius: 50%;
        background-color: #DCDFDE;
        box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 83.9%, 0), inset 0 2px 2px 0 rgba(0, 0, 0, .2);
    }

    .checkbox-label input:checked~.checkbox-custom.silver {
        border-radius: 50%;
        background-color: #DCDFDE;
        border: 1.3px solid #4F91D6;
    }

    .checkbox-label .checkbox-custom.silver:hover {
        border: 2px solid #DCDCDC;
    }

    .checkbox-label .checkbox-custom.silver::after {
        border-radius: 50%;
    }

    .checkbox-label .checkbox-custom.silver::before {
        border-radius: 50%;
        border: 2px solid #FFFFFF;
    }

    .checkbox-label input:checked~.checkbox-custom.silver::before {
        border-radius: 50%;
    }

    // End Check box


}

@media (min-width: 1201px) {
    .ipad {
        img {
            width: 450px;
        }

        .card {
            width: 450px;
            height: 100px;
        }
    }
}