  // Checkbox

  .box {
      width: 500px;
      margin: 50px auto;
      clear: both;
      display: block;
      padding: 0px 0px;
      border-radius: 4px;
  }


  .box .checkbox-container {
      float: left;
      width: 50%;
      box-sizing: border-box;
      text-align: center;
      padding: 40px 0px;
  }



  /* Styling Checkbox Starts */
  .checkbox-label {
      display: block;
      position: relative;
      margin: auto;
      cursor: pointer;
      font-size: 22px;
      line-height: 24px;
      height: 24px;
      width: 24px;
      clear: both;
  }

  .checkbox-label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
  }

  .checkbox-label .checkbox-custom {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 30px;
      width: 30px;
      background-color: transparent;
      border-radius: 10px;
      transition: all 0.1s ease-out;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
      border: 2px solid #ffffff;
  }



  /* Style for Circular Checkbox */
  .checkbox-label .checkbox-custom.circular {
      border-radius: 50%;
      background-color: #AAAEB1;
  }

  .checkbox-label input:checked~.checkbox-custom.circular {
      border-radius: 50%;
      background-color: #AAAEB1;
      border: 1px solid #4F91D6;
  }

  .checkbox-label .checkbox-custom.circular:hover {
      border: 2px solid #DCDCDC;
  }

  .checkbox-label .checkbox-custom.circular::after {
      border-radius: 50%;
  }

  .checkbox-label .checkbox-custom.circular::before {
      border-radius: 50%;
      border: 2px solid #FFFFFF;
  }

  .checkbox-label input:checked~.checkbox-custom.circular::before {
      border-radius: 50%;
  }